body {
    font-family: "Montserrat", sans-serif;
    margin: 20px;
}

#app {
    max-width: 800px;
    margin: auto;
}

h1 {
    color: #333;
}

section {
    margin-top: 40px;
    border-top: 2px solid rgb(37, 128, 209);
    padding: 25px;
}

/* User Section Styles */
#user-list,
#role-list,
#permission-list,
#article-list,
#comment-list {
    margin-top: 20px;
}

.user-item,
.role-item,
.permission-item,
.article-item,
.comment-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

/* Form Styles */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #9fc7ef;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #86c8ff;
}